

<section class="last-domains-container">
    <section class="last-domain-title">
        <app-fp-title [title]="'Lasts domains visited'"></app-fp-title>
    </section>
    <section class="last-domains-content">
        <div class="last-domain-carousel">
            @for (domain of domains; track domain) {

                <div class="last-domain mat-elevation-z3">
                    <span>
                        {{ domain.name | uppercase }}
                    </span>
                    <button mat-flat-button color="primary" (click)="open(domain.name)">
                        <mat-icon svgIcon="portal-lines"></mat-icon>
                    </button>
                </div>
            } @empty {
                <section class="last-domain-empty">
                    <button mat-button color="primary" (click)="open()">Start connecting!</button>
                </section>
            }
        </div>
    </section>
</section>

