

<section class="last-domains-container">
    <section class="last-domain-title">
        <h2>
            Last domain visited
        </h2>
    </section>
    <section class="last-domains-content">
        <div class="last-domain-carousel">
            @for (domain of domains; track domain) {

                <div class="last-domain mat-elevation-z3">
                    <span>
                        {{ domain.name | uppercase }}
                    </span>
                    <button mat-flat-button color="primary" (click)="open(domain.name)">
                        <mat-icon svgIcon="portal-lines"></mat-icon>
                    </button>
                </div>
            } @empty {
                <span>
                    You have not yet connected to any domain. Try it!
                </span>
            }
        </div>
    </section>
</section>

