
header {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 35px;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-right: 40px;
}

header > span {
    font-size: 1rem;
}

.close {
    position: absolute;
    right: 0;
}