
@if(!connection) {
    <div class="file-portal-loader">
        <mat-progress-spinner
            [color]="'accent'"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <span>Stablishing connection</span>
    </div>
} @else {
    <header>
        <h2>
            <mat-icon svgIcon="portal-color"></mat-icon>
            {{ domain | uppercase }}
        </h2>
    </header>

    <section class="portals-container">
        @for (connection of connection() ; track $index) {
            <app-file-portals-portal
                [portal]="connection.portal">
            </app-file-portals-portal>
        } @empty {
            There is still no one
        }
    </section>
}