<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>
                @if(peer().type === 'client') {
                    person
                } @else {
                    dns
                }
            </mat-icon>
            <span>
                {{ peer().name }}
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-file-portals-files [files]="files()" [portal]="portal"></app-file-portals-files>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="actions.files()">Request files</button>
        <button mat-stroked-button color="warn" (click)="actions.close()">Close</button>
    </mat-card-actions>
</mat-card>