
.splash-screen-container {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    transition: 300ms;
}

.splash-screen-container.fade {
    height: 0;
    color: white;
    overflow-y: hidden;
}

.splash-screen-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;

    img {
        height: 100%;
    }
}

.splash-screen-label {
    font-family: 'DuneRise';
    font-weight: bolder;
    text-align: center;
    font-size: large;
}