
@use '@angular/material' as mat;

@include mat.core();

html {
    --primary-color: #40ae00;
}

$file-portals-palette: (
    50: #e8f5e4,
    100: #c8e6bc,
    200: #a3d691,
    300: #7dc662,
    400: #5fba3c,
    500: #40ae00,
    600: #359f00,
    700: #268d00,
    800: #137d00,
    900: #005e00,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: white,
        800: white,
        900: white
    )
);

$file-portals-accent-palette: (
    50: #f5e5f7,
    100: #e4bdec,
    200: #d390e1,
    300: #c162d5,
    400: #b43ccb,
    500: #a503c1,
    600: #9604bc,
    700: #8102b5,
    800: #6e00ae,
    900: #4800a4,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: white,
        800: white,
        900: white
    )
);

 $file-portals-warn-palette: (
  50: #f5fae5,
  100: #e7f2be,
  200: #d7eb93,
  300: #c7e268,
  400: #bbdb45,
  500: #b1d618,
  600: #a6c40f,
  700: #97ae00,
  800: #889700,
  900: #6f7100,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$file-portals-angular-primary: mat.define-palette($file-portals-palette, 500, 300, 700);
$file-portals-angular-accent: mat.define-palette($file-portals-accent-palette, 900, 300, 600);

// The warn palette is optional (defaults to red).
$file-portals-angular-warn: mat.define-palette($file-portals-warn-palette, 900);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette($file-portals-angular-primary),
        accent: mat.define-palette($file-portals-angular-accent),
        warn: mat.define-palette($file-portals-angular-warn)
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette($file-portals-angular-primary),
        accent: mat.define-palette($file-portals-angular-accent),
        warn: mat.define-palette($file-portals-angular-warn)
    ),
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.all-component-colors($light-theme);
}