/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: 100dvh;
}
/* Variables */
:root {
    --footer-height: 55px;
    --footer-margin-top: 25px;
}

.full-screen-modal {
    max-width: unset !important;
    width: 100%;
    height: 100%;
    
    .mat-dialog-container {
        max-width: 100vw;
        max-height: 100vh;
        height: 100%;
        width: 100%;
        border-radius: 0;

        .mat-dialog-content {
            max-height: unset !important;
        }
    }
}