// /* You can add global styles to this file, and also import other style files */

@import './material-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: 100dvh;
    overflow-y: overlay;
    overscroll-behavior-y: contain;
}
/* Variables */
:root {
    --footer-height: 55px;
    --footer-margin-top: 25px;
}

/* Fonts */
@font-face{
    font-family: 'DuneRise';
    src: url('./assets/fonts/dune-rise-webfont.woff2') format('woff2');
    font-display: swap;
}

/* Splash screen */
.splash-screen-container {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    transition: 300ms;
}

.splash-screen-container.fade {
    height: 0;
    color: white;
    overflow-y: hidden;
}

.splash-screen-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;

    img {
        height: 100%;
    }
}

.splash-screen-label {
    font-family: 'DuneRise';
    font-weight: bolder;
    text-align: center;
    font-size: large;
    font-display: swap;
}

.full-screen-modal {
    max-width: unset !important;
    width: 100%;
    height: 100%;
    
    .mat-mdc-dialog-container {
        max-width: 100dvw;
        max-height: 100dvh;
        height: 100%;
        width: 100%;
        
        .mat-mdc-dialog-surface {
            border-radius: 0;
        }
        

        .mat-mdc-dialog-content {
            max-height: unset !important;
        }
    }
}