
.file-portals-layout {
    position: relative;
    height: 100%;
    padding: 0 16px;
}

.file-portals-navigation {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 1;
}

.file-portals-last-domains {
    height: 250px;
}

.file-portals-downloads {
    height: calc(100% - 250px);
}