<mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon matListItemIcon>
            @if(can().update) {
                system_update
            } @else {
                security_update_good
            }
        </mat-icon>
        <span>
            App update
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Current version installed: {{ version }}
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        @if(can().install) {
            <button mat-button (click)="install()" [disabled]="disabled().install || null">
                <mat-icon fontIcon="install_mobile"></mat-icon>
                Install
            </button>
        }
        @if(can().update) {
            <button mat-button (click)="update()" [disabled]="disabled().update || null">
                <mat-icon fontIcon="system_update"></mat-icon>
                Update
            </button>
        }
        <button mat-button (click)="check()" [disabled]="disabled().check || null">
            <mat-icon fontIcon="sync"></mat-icon>
            Check for update
        </button>
    </mat-card-actions>
</mat-card>